@using hubfast_frontend.Services.Models.Enums
@using hubfast_frontend.Services.Helpers
@model OperacoesIntegracaoViewModel

<div class="container">
    <form id="attributeForm">
        <div class="row mt-2 mb-3">
            <div class="col-2">
                <label for="tipoMetodo" class="form-label">Método</label>
                <select class="form-select" id="tipoMetodo">
                    @foreach (var tipoMetodo in EnumsHelper.ListarEnums<TipoMetodoRestEnum>())
                    {
                        <option value="@tipoMetodo.CodigoEnum()">@tipoMetodo.DescricaoEnum()</option>
                    }
                </select>
            </div>
            <div class="col-10">
                <label for="nomeOperacao" class="form-label">Nome da Operação</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://hub-integracao.paas.cassi.com.br/v@(Model.VersaoIntegracao)/@(Model.NomeIntegracao)/</span>
                    <input type="text" class="form-control" id="nomeOperacao" name="nomeOperacao" pattern="[a-zA-Z0-9_\-]+" required="required" autocomplete="off" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div id="container-atributos">
            <div class="field-group" data-index="0">
                <div class="row g-4">
                    <div class="col-auto mt-5">
                        <a href="#" class="mover-atributo fs-2" title="Mover atributo"><i class="icon ion-grid"></i></a>
                    </div>
                    <div class="col-8">
                        <label for="nomeAtributo" class="form-label">Nome Atributo</label>
                        <input type="text" class="form-control" id="nomeAtributo" name="nomeAtributo" required/>
                    </div>
                    <div class="col-3">
                        <label for="tipoAtributo" class="form-label">Tipo</label>
                        <select class="form-select" id="tipoAtributo" data-idx="0" name="tipoAtributo" required>
                            <option value="alfanumerico">Texto</option>
                            <option value="numerico">Número</option>
                            <option value="objeto">Objeto</option>
                        </select>
                    </div>
                    <div class="col-auto mt-5">
                        <a href="#" class="adicionar-atributo fs-2" title="Novo atributo"><i class="icon ion-plus-round"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <h3 class="mt-2">Atributos da Operação</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="listaAtributos">
        </tbody>
    </table>
</div>