@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">HubFast - Integrações</h1>
    <p>Uma forma de criar integrações entre APIs de forma simples e rápida.</p>
    <a class="btn btn-primary" asp-action="Nova" asp-controller="Integracao">Nova Integração</a>
</div>